.ipynb_checkpoints/
**/__pycache__
*.npy
*.npz
*.dat
data
data/openrooms_public*
*.exr
mitsuba/my_first_render.png
mitsuba/meshes_dump
mitsuba/tmp.xml
mitsuba/tmp_scene_*

lib/utils_OR/__pycache__
lib/__pycache__
ScreenCamera_*.json