.ipynb_checkpoints/
**/__pycache__
*.npy
*.npz
*.dat
data
data/
*.exr
mitsuba/my_first_render.png
mitsuba/meshes_dump
mitsuba/tmp.xml
mitsuba/tmp_scene_*
mitsuba/tmp_sample_poses_rendering
lib/utils_OR/__pycache__
lib/__pycache__
ScreenCamera_*.json
tmp_mesh*
test_files/
test_scripts/*.hdr
test_scripts/*.obj

tmp*
README.md.orig*
README.md.toc*